<ion-view title="Autorizações" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="autorizaEs-list2">
            <ion-item class="item-avatar" id="autorizaEs-list-item2" ui-sref="local">
                <img src="img/yVaML5G7T1e3gyeUMlKi_Jess.jpg">
                <h2>Jess</h2>
            </ion-item>
            <ion-item class="item-avatar" id="autorizaEs-list-item3" ui-sref="local3">
                <img src="img/2oqgqHUASAm1SDLlQ8tj_Alison_Carroll_6.jpg">
                <h2>Lara</h2>
            </ion-item>
            <ion-item class="item-avatar" id="autorizaEs-list-item4" ui-sref="local2">
                <img src="img/9nIuE8i4QUOVDotCdCdQ_carol4-480x479.jpg">
                <h2>Carol</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>