<ion-view title="Local" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="local-heading1" style="color:#000000;">Jess Grenberg</h1>
        <div id="local-markdown1" style="color:#000000;">
            <p>
                <strong>Endereço:</strong>Rua qualquer coisa, nº 666, Águas Claraas - Brasilia DF</p>
        </div>
        <div>
            <a href="#">Ver no mapa</a>
        </div>
        <div>
            <img src="img/15wPnrmTemWBGdXKehsI_getCode.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="local-button-bar1" class="button-bar"></div>
    </ion-content>
</ion-view>