<ion-view title="Local" id="page3">
    <ion-content padding="true" class="has-header">
        <h1 id="local2-heading2" style="color:#000000;">Carol Portaluppi</h1>
        <div id="local2-markdown2" style="color:#000000;">
            <p>
                <strong>Endereço:</strong>Rua qualquer coisa, nº 666, Águas Claraas - Brasilia DF</p>
        </div>
        <div>
            <a href="#">Ver no mapa</a>
        </div>
        <div>
            <img src="img/15wPnrmTemWBGdXKehsI_getCode.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>